numpy
scipy
pandas
matplotlib
altair
metaflow
python-dotenv
tqdm
filelock
typer
sh
gensim
nltk==3.5
jupyterlab
boto3
imblearn
daps-utils @ https://github.com/nestauk/daps_utils/archive/dev.zip
lxml
requests-cache
BeautifulSoup4
wget
pymysql 
mysql-connector-python
python-Levenshtein
