numpy==1.19
cython
pandas
matplotlib
metaflow
python-dotenv
filelock
typer
sh
gensim
nltk==3.5
jupyterlab
boto3
imbalanced-learn
requests-cache
wget
umap-learn
sentence_transformers
pyyaml
ipywidgets
adjustText
pytest-timeout==1.4.2
